.home {
  .home-header {
    background-color: #282c34;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    position: sticky;
    top: 0px;
    padding: 8px 0;

    .spinner {
      width: 30px;
      padding: 10px;
      min-width: 60px;
    }

    > .updated-at {
      color: white;
      margin-left: 10px;
      color: #ccc;
      font-size: 16px;
      span:first-child {
        color: #00ff3f;
      }
    }
    .refresh-button {
      background-color: #019c01;
      padding: 10px;
      border-radius: 10px;
      font-size: 14px;
      margin-right: 10px;
      min-width: 60px;
      cursor: pointer;
      color: white;
      border: none;
      &:disabled {
        background-color: rgb(5, 61, 5);
        color: gray;
        cursor: not-allowed;
      }
    }
  }
  .members-container {
    > .members {
      display: flex;
      justify-content: space-between;
      min-height: 100px;
      align-items: center;
      margin: 10px;
      border-radius: 20px;
      background-color: #f5f5f5;

      .left-side {
        display: flex;
        align-items: center;
        .part1 {
          display: flex;
          align-items: center;
          margin-left: 8px;
          > .number {
            text-align: center;
            background: #019c01;
            color: white;
            border-radius: 20px;
            width: 20px;
            margin-right: 2px;
            height: 20px;
            padding: 4px;
          }
          > .image {
            margin-left: 4px;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            img {
              border-radius: 50%;
              width: 50px;
              height: 50px;
            }
            &.A {
              border: 3px solid rgb(59, 254, 76);
            }
            &.B {
              border: 3px solid #d938ff;
            }
            &.C {
              border: 3px solid #b61d40;
            }
            &.D {
              border: 3px solid #3300ff;
            }
          }
        }
        .part2 {
          margin-left: 10px;
          > .votes {
            color: #888;
            // display: flex;
            // gap: 20px;
          }
          .team {
            width: 10px;
            height: 10px;
            background-color: red;
            border-radius: 50%;
          }
        }
      }
      .part3 {
        text-align: center;
        margin-right: 20px;
        color: red;
      }
    }
  }
  @media (min-width: 1000px) {
    .home-header {
      > .updated-at {
        color: white;
        margin-left: 10px;
        color: #ccc;
        font-size: 24px;
        span:first-child {
          color: #00ff3f;
        }
      }
    }

    .members-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      > .members {
        background-color: #f5f5f5;
        margin: 10px;
        border-radius: 20px;
      }
    }
  }
}
