.home {
  .home-header-container {
    background-color: #282c34;
    position: sticky;
    top: 0px;
    padding: 0 0 8px 0;

    .review-button {
      background-color: #019c01;
      // background-color: rgb(23, 24, 29);
      padding: 10px;
      border-radius: 10px;
      font-size: 18px;
      min-width: 60px;
      cursor: pointer;
      color: white;
      border: none;
      width: calc(100% - 20px);
      margin: 0 10px;

      &:disabled {
        background-color: rgb(5, 61, 5);
        color: gray;
        cursor: not-allowed;
      }
    }

    .home-header {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 50px;

      >.title {
        text-align: center;
        font-size: 20px;
        text-align: center;
        color: #ffc027;
        display: flex;
        flex-direction: column;
        margin: 12px;
        width: 100%;

        span:first-child {
          color: #00ff3f;
          margin: 0 6px;
        }

        .updated-at {
          font-size: 12px;
          margin-top: 4px;
          color: #ccc;
        }

        .current-status {
          color: #ccc;
          font-size: 16px;
        }
      }

      .btn-container {
        position: absolute;
        right: 12px;
        align-self: center;
      }

      .spinner {
        margin-right: 12px;
      }

      .refresh-button {
        background-color: #019c01;
        padding: 10px;
        border-radius: 10px;
        font-size: 14px;
        min-width: 60px;
        cursor: pointer;
        color: white;
        border: none;

        &:disabled {
          background-color: rgb(5, 61, 5);
          color: gray;
          cursor: not-allowed;
        }
      }
    }
  }

  .members-container {
    background-color: #282c34;

    >.members {
      font-size: 20px;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      min-height: 100px;
      align-items: center;
      margin: 10px;
      border-radius: 20px;
      background-color: #f5f5f5;

      &.team-count {
        background-color: #c4c4c4;
      }

      @keyframes colorchange {
        0% {
          background: #f5f5f5;
        }

        100% {
          background: #c9eec9;
        }
      }

      &.a0,
      &.a1,
      &.a2,
      &.a3,
      &.a4,
      &.required-candidate {
        background-color: #d4f3d4;
        // animation-name: colorchange;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }

      .left-side {
        display: flex;
        align-items: center;

        .part-1-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-self: stretch;

          .diff {
            font-size: 16px;
            text-align: center;
            color: red;
            display: flex;
            justify-content: center;

            svg {
              fill: red;
              width: 14px;
              height: 22px;
            }
          }

          .part1 {
            display: flex;
            align-items: center;

            >.number {
              font-size: 20px;
              text-align: center;
              background: #019c01;
              color: white;
              border-radius: 50%;
              margin-right: 2px;
              width: 1.1em;
              height: 1.1em;
              padding: 4px;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            >.image {
              margin-left: 4px;
              border-radius: 50%;
              width: 50px;
              height: 50px;

              img {
                border-radius: 50%;
                width: 50px;
                height: 50px;
              }

              &.A {
                border: 3px solid #007903;
              }

              &.B {
                border: 3px solid #d938ff;
              }

              &.C {
                border: 3px solid #b61d40;
              }

              &.D {
                border: 3px solid #3300ff;
              }
            }
          }
        }

        .part2 {
          margin-left: 10px;

          >.votes {
            color: #777;

            .count {
              color: blue;
            }

            .rank {
              font-size: 22px;
              color: red;
              &.positive {
                color: green;
              }
              // font-weight: bold;
            }
          }

          .team {
            width: 10px;
            height: 10px;
            background-color: red;
            border-radius: 50%;
          }

          @keyframes fontColorChange {
            0% {
              color: #00790c;
            }

            // 50% {
            //   color: #00790c;
            // }
            100% {
              // color: #c9eec9;
              color: #d4f3d4;
            }
          }

          .status {
            font-size: 16px;
            margin-top: 4px;
            color: #00790c;
            font-weight: bold;

            &.animation {
              animation-name: fontColorChange;
              animation-duration: 0.8s;
              animation-iteration-count: infinite;
              animation-direction: alternate;
            }
          }
        }
      }

      .part3 {
        text-align: center;
        margin-right: 12px;
        color: red;
        display: none;
      }
    }
  }

  // @media (max-width: 900px) {
  //   .part-1-container {
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: space-between;
  //     align-self: stretch;
  //   }
  // }
  @media (min-width: 900px) {
    .home-header-container {
      .home-header {
        padding: 8px 0 0px 0;

        .title {
          font-size: 28px;

          .updated-at {
            font-size: 16px;
          }
        }
      }
    }

    .members-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));

      >.members {
        background-color: #f5f5f5;
        margin: 10px;
        border-radius: 20px;
        font-size: 24px;
        padding: 10px;

        .left-side {
          .part-1-container {
            flex-direction: row;

            .diff {
              display: none;
            }

            .part1 {
              >.number {
                padding: 5px;
              }
            }
          }

          .part2 {
            margin-left: 10px;

            >.votes {
              font-size: 22px;
              color: #000;

              .count {
                color: blue;
                font-weight: bold;
              }
            }

            .team {
              width: 10px;
              height: 10px;
              background-color: red;
              border-radius: 50%;
            }
          }
        }

        .part3 {
          display: flex;
          align-items: center;

          svg {
            fill: red;
            height: 20px;
          }
        }
      }
    }
  }
}