html {
  scroll-behavior: smooth;
  background-color: #282c34;
}

.App {
  >.review-transparent {
    >.review {
      position: fixed;
      z-index: 1;
      overflow-y: scroll;
      height: calc(100vh - 40px);
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      scroll-behavior: smooth;
    }
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #fff;
  text-align: center;
  padding: 8px 4px;
  border-bottom: 0.5px solid #aaa;

  .count-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    color: #52ff7d;

    .live-count {
      display: flex;
      justify-content: center;
      gap: 4px;
      margin: 6px 0 0 0;

      svg {
        fill: #52ff7d;
        align-self: center;
      }

      &:nth-child(2) {
        cursor: pointer;
      }
    }
  }

  .vote-details {
    margin-top: 4px;
    font-size: 16px;
    color: #eee;
    display: flex;
    flex-direction: column;

    div:nth-child(1) {
      display: flex;
      justify-content: center;
    }

    div:nth-child(2) {
      color: #52ff7d;
      margin-top: 4px;
      display: flex;
      justify-content: center;
    }

    div:nth-child(3) {
      margin-top: 4px;
      display: flex;
      justify-content: center;
    }
  }
}

.timer {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  font-size: 16px;
  margin-top: 10px;
  color: #bbb;

  section {
    color: #52ff7d;
  }

  // span:first-child {
  //   text-align: right;
  // }
  // span:nth-child(2) {
  //   width: 120px;
  //   color: #52ff7d;
  // }
}

.view-count {
  margin-top: 8px;
  font-size: 18px;
}

footer {
  text-align: center;

  .team {
    color: white;
  }
  a {
    color: #f0c370;
  }
}

.footer {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #52ff7d;
  padding: 0px 4px 8px 4px;
  font-style: italic;
}

@media (min-width: 900px) {
  .App-header {
    font-size: 32px;

    .vote-details {
      margin-top: 8px;
      font-size: 24px;
      color: #eee;
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      color: #52ff7d;
      flex-direction: row;

      div:nth-child(2) {
        margin-top: 0px;
      }

      div:nth-child(3) {
        margin-top: 0px;
      }
    }
  }

  .timer {
    font-size: 26px;

    // span:nth-child(2) {
    //   width: 200px;
    // }
  }

  footer {
    text-align: center;

    .team {
      color: white;
      font-size: 18px;
    }
  }
}