.App-header {
  background-color: #282c34;
  min-height: 50px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #eee;
  text-align: center;
  padding: 8px 4px;
}

.timer {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  font-size: 18px;
  margin-top: 10px;

  span:first-child {
    text-align: right;
  }
  span:nth-child(2) {
    width: 120px;
    color: #52ff7d;
  }
  // span:nth-child(3) {
  //   // width: 33vw;
  // }
}

.footer {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #aaa;
  padding: 0px 4px 8px 4px;
}
